HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.classpath
.project

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Logs ###
*.log
